{% extends "base.html" %}

<!-- templates/user/list_posts.html -->

{% block title%}
List Posts
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Posts</h1></div>{% endblock %}
{{creations}}
{% block content %}
<ul id="post_list" class="post_list">

	{% for post in posts %}
	<li>
		<h4><a href="{{url_for('app_views.rud_post', creator_id='', creation_id=post[1], post_id=post[0]) }}"> {{post[2]}} </a></h4>
		<h3>
			{{post[3]}}
		</h3>
		<h3>
			{{post[4]}}
		</h3>
		<h3>
			{{post[5]}}
		</h3>
		<h3>
			{{post[6]}}
		</h3>
	</li>
	{% endfor %}
</ul>
<a class="link" href="#">Create New Creation</a>
{% endblock %}
