{% extends "base.html" %}

<!-- templates/user/post_view.html -->

{% block title%}
Creation View
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Post {{Post.title}} </h1></div>{% endblock %}

{% block content %}
<div id="post_details_view" class='container post'>
    <div class="post_details align-right">
            <p>
                <strong>Title</strong>:{{post.title}}
            </p>
            <p>
                <strong>Content</strong>:{{post.content}}
            </p>
            <p>
                <strong>Comment</strong>:{{post.comment}}
            </p>
            <p>
                <strong>Reference</strong>:{{post.reference}}
            </p>
            <p>
                <strong>Posted At</strong>:{{post.posted_at}}
            </p>
            <p>
                <strong>Fetched At</strong>:{{post.fetched_at}}
            </p>
            <p>
                <strong>Creation Name</strong>:{{post.creation.name}}
            </p>
    </div>
    <div class="post_details_delete float-right">
        <form class="" action="{{ url_for('app_views.rud_post', creator_id=creation.creator_id, creation_id=creation.id, post_id=post.id)}}" method="POST">
        					<input name="_method" value="DELETE" hidden>
        					<input class="btn btn-primary btn-sm btn-danger" id="submit" label="delete" name="" type="submit" value="Delete {{ post.name.split(' ')[0].capitalize() }}">
        </form>
        	</br>
    </div>
    <div class="post_details_edit_button float-right">
        <button id="edit_post_btn" type="button" class="btn btn-primary btn-sm  btn-link"> Edit {{ post.Title.split(' ')[0].capitalize() }} </button>
    </div>

</div>
<div id="post_details_edit" class='container post'>
    <form action="{{ url_for('app_views.rud_post', creator_id=creation.creator_id, creation_id=creation.id, post_id=post.id)}}" method="POST">
    	<table>
    		<tbody>
                {{ form.csrf_token }}
                {% for field in form if not field.name in ["csrf_token", 'submit'] %}
            		<tr>
                		<td>{{ field.label }}</td>
                		<td>{{ field }}</td>
                		</td><b>{{ " ".join(field.errors) }}</b></td>
            		</tr>
            	{% endfor %}
                <tr>
                    <td>{{form.submit}}</td>
                </tr>
        		<tr>
        		    <td><button id="cancel_change_btn"class="btn btn-primary btn-sm btn-warning"> Cancel </button></td>
        	    </tr>
    		</tbody>
    	</table>
    </form>
</div>
</br>




<script>
document.getElementById("edit_post_btn").addEventListener("click", showEdit);
document.getElementById("cancel_change_btn").addEventListener("click", hideEdit);
document.getElementById("post_details_edit").style.display = "none";
function showEdit() {
	document.getElementById("post_details_view").style.display = "none";
	document.getElementById("post_details_edit").style.display = "block";
}
function hideEdit() {
	document.getElementById("post_details_edit").style.display = "none";
	document.getElementById("post_details_view").style.display = "block";
}
</script>

{% endblock %}