<!-- templates/errors/401.html -->

{% extends "base.html" %}
{% block title %} Error 401 {% endblock %}
{% block wrapper %}<h1 class="display-4 text-danger"> 401 Error </h1>{% endblock %}
{% block content %}
<div class="content-section text-center">
  <h3> Authentication Error. Bad credentials or the server does not understand the request. Please try again later.</h3>
  <h4> {{ err }} </h4>
  <hr class="intro-divider">
  <a class="btn btn-primary btn-lg" href="{{ url_for('app_views.home') }}">
    <i class="fa fa-home"></i> Home
  </a>
</div>
{% endblock %}

