<!-- templates/includes/_navbar.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('app_views.home') }}">Inadis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item nav-item-home">
        <a class="nav-link" href="{{ url_for('app_views.home') }}">
          Home </a>
      </li>
      <li class="nav-item dropdown nav-item-creators">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="prenavbarHandler('{{url_for("api_views.get_creators")}}', postnavbarHandlerJson);">
          Creators
        </a>
        <div id="navbar_creator_list"class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown nav-item-creations">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="prenavbarHandler('{{url_for("api_views.get_all_creations")}}', postnavbarHandlerJsonCreations);">
          Creations
        </a>
        <div id="navbar_creation_list"class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item nav-item-about">
        <a class="nav-link" href="{{ url_for('app_views.about') }}">About</a>
      </li>

    </ul>
  </div>
</nav>
<div hidden=true>
    <a id="creator_link" href="{{ url_for('app_views.rud_creator', creator_id='') }}"></a>
    <a id="creation_link" href="{{ url_for('app_views.rud_creation', creator_id='crtor_id', creation_id='crtion_id') }}"></a>
</div>
<script>
  selectCurrent();
</script>

