{% extends "base.html" %}


<!-- templates/user/loginUser.html -->

{% block title%}
Login User
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Login User</h1></div>{% endblock %}
{% block content %}
<div class="content-section">
	{% include 'includes/_formerror.html' %}
  <br/>
  {% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
  {% endif %}
  <br/>
  <div class="table-responsive">
    <br/>
    <form action="{{url_for('app_views.loginUser')}}" method="POST">
    {{ form.csrf_token }}
    {% for field in form if not field.name in ["csrf_token", 'user_name', 'user_id', 'user_password2', 'submit'] %}
		<p>{{ field.label }}: {{ field }} <b>{{ " ".join(field.errors) }}</b></p>
	{% endfor %}
    {{form.submit}}
    </form>
  </div>
</div>
{% endblock %}